.mulish-thin-regular-bold-extra-bold-italic {
    font-family: "Mulish", serif;
    font-optical-sizing: auto;
    font-weight: 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: normal;
  }
  
  *{
      margin: 0;
      padding: 0;
  }
  
  body{
     font-family: Arial, Helvetica, sans-serif;
      
  }

  
  
  .navigation{
      display: flex;
      justify-content: space-between;
  }
  
  
  .form{
      position: relative;
      margin-top: 50px;
  
  }
  
  #icons{
       border: #ccc solid 1px;
       border-radius: 50%;
       padding: 10px;
       background-color:aliceblue;
  }
  
  
  
  .search-input{
      width: 300px;
      padding: 5px 20px;
      border-radius: 40px;
      border: 1px solid #ccc;
      font-size: 16px;
      height: 40px;
      border: none;
  }
  
  
  #sign-in, #search , .banner-btn{
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      background-color: #797DFC;
      border: 1px solid #333;
      border-radius: 40px;
      cursor: pointer;
      font-size: 16px;
      
      left: 240px;
      top: 5px;
      border: none;
  }
  .search-btn{
      position: absolute;
  }
  
  .form-list{
      border: #333 solid 1px;
      width: 300px;
      height: 250px;
      text-align: left;
      padding: 20px;
      border-radius: 40px;
      background-color: #fff;
  }
  .form-list p{
      margin: 40px;
      color: black;
  
  }
  .header{
      display: flex;
      justify-content: space-between;
      padding: 100px;
      margin: 100px;
      margin-top: 40px;
      background-color: #333;
      color: #fff;
      border-radius: 40px;
      background-image: url(./B9A6-Retro-Forum-main/images/bgbanner.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-position-x: ;
  
  }
  .header h1 .Banner h1{
      font-size: 40px;
      margin: 80px 20px 20px;
      gap: 100px;
  }
  .list-container img{
      width: 70px;
      height: 70px;
      border-radius: 20px;
      margin: 20px;
      
  }
  
  .list-container{
      width: 700px;
      height: 200px; ;
      border: #333 solid 1px;
      border-radius: 20px;
      padding: 20px;
  }
  
  .card-row{
      gap: 50px;
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      padding: 16px;
      margin: 50px 70px;
      background-color: gainsboro;
      border: none;
      border-radius: 20px;
      align-items: flex-start;
      width: 700px;
      height: 250px;
  }
  
  .card-row img{
      width: 100px;
      height: 100px;
      border-radius: 20px;
      margin: 20px;
      position: relative;
      object-fit: cover;
      bottom: 10px;
  }
  .card-circle{
      border:#fff solid 5px;
      border-radius:50%;
      padding: 10px;
      background-color:blue;
      position: absolute;
      left: 180px;
  
      /* z-index: 10; */
      
     
  }
  .card-text{
      display: flex;
      flex-direction: column;
      gap: 30px;
      font: 20;
  }
  .card-category{
      display: flex;
      gap: 20px;
      font:5;
  }
  .card-date{
      display: none;
  }
  .card-icons{
      display: flex;
      gap: 30px;
  }
  .Banner{
    display: flex;
      justify-content: space-between;
      padding:10px;
      margin: 100px;
      margin-top: 40px;
      background-color: #333;
      color: #fff;
      border-radius: 40px;
    
      /* text-align: center; */

  }
  .middle-content{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 50px;
    gap: 50px;
  }